ul#nav{
    list-style: none;
    padding: 0;
    background-color: #f3f3f3;
    color: gray;
    width: 100%;
}

ul#nav li{
    display: inline-block;
    width: 30%;
    text-align: center;
    border: 1px solid black;
}

a:link{
    color: #6E6D80;
}


ul#nav li:active{
    border: 2px solid black;
}

input[type="text"]{
    border: none;
}

input[type="text"], textarea{
    background-color: rgb(246, 246, 246);
    text-align: center;
}

#content{
    background-color: white;
}

table{
    width: 100%;
}