* {
    box-sizing: border-box;
}

/* Background color for all pages */
body {
    background-color: rgb(246, 246, 246);
}

.nav {
    position: relative;
    bottom: 10px;
    font-family: "Segoe UI";
    text-align: center;
    background-color: white;
    border-style: inset;
    border-color: black;
    border-width: 1px;
    height: 40px;
    font-weight: bold;
}

.hyperlink {
    position: relative;
    left: 30px;
    text-decoration: none;
    font-family: "Segoe UI";
}

.reglink {
    text-decoration: none;
    font-family: "Segoe UI";
}

.link {
    text-decoration: none;
    color: black;
    font-size: 11px;
}

p {
    font-family: "Segoe UI";
    padding: 0px 10px;
    text-align: center;
}

/* Style for input forms */
input {
    width: 285px;
    height: 41px;
    padding: 15px 10px;
    margin: 0 auto;
    display: block;
    border-style: solid #707070;
    border-width: 1px;
    font-size: 15px;
    font-family: "Segoe UI";
}

.submit {
    width: 158;
    height: 54px;
    background-color: #69e26d;
    font-size: 20px;
    color: white;
    padding: 14px 20px;
    display: block;
    margin: 0 auto;
    border-style: solid #707070;
    border-width: 2px;
    cursor: pointer;    
    font-family: "Segoe UI";
}

#Subject {
    width: 230px;
    height: 26px;
    padding: 15px 10px;
    margin: 0 auto;
    display: block;
    border-style: solid;
    border-width: 1px;
    font-size: 15px;
    font-family: "Segoe UI";
}

#insert {
    width: 158;
    height: 54px;
    background-color: #69e26d;
    font-size: 20px;
    color: white;
    padding: 14px 20px;
    display: block;
    margin: 0 auto;
    border: none;
    cursor: pointer;    
    font-family: "Segoe UI";
}

#delete {
    width: 100%;
    background-color: #00e600;
    font-size: 20px;
    color: white;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
    font-family: "Segoe UI";  
    font-weight: bold; 
}

/* Creates submit button for forms 
#submit {
    width: 100%;
    background-color: #00e600;
    font-size: 20px;
    color: white;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Segoe UI";
    font-weight: bold;
}*/

/* Textarea for entering questions */
#Description {
    width: 292px;
    height: 183px;
    border: 2px solid #707070;
    font-size: 16px;
    font-family: "Segoe UI";
    resize: none;
}

#Question {
    width: 100%;
    padding: 0px 10px;
    font-family: "Segoe UI";
}

#advices {
    width: 100%;
    padding: 0px 20px;
    font-family: "Segoe UI";
}

hr {
    border-color: rgb(80, 141, 220);
    width: 100%;
}

/* Style for drop down menus */
select {
    width: 130px;
    height: 25px;
}

/* Header 1 styling */
.h1 {
    text-align: center;
    color: rgb(121, 121, 121);
    font-family: "Segoe UI";
    font-size: 20px;
}

/* Header 3 styling */
h3 {
    text-align: center;
    color: rgb(121, 121, 121);
    font-family: "Segoe UI";
}

.label {
    color: rgb(121, 121, 121);
    font-family: "Segoe UI";
}

/* Topics styling */
.topics {
    width: 300px;
    height: 70px;
    border-style: solid outset;
    border-radius: 10px;
    box-shadow: 2px 2px;
    margin: auto;
    padding: 20px;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    font-family: "Segoe UI";
}

/* topic image */
.topicImage {
    width: 50;
    height: 50;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    position: relative;
    right: 20px;
    font-family: "Segoe UI";
}

/* Groups styling */
.groups {
    width: 250px;
    height: 70px;
    border-style: solid outset;
    border-radius: 35px;
    box-shadow: 2px 2px;
    margin: auto;
    padding: 20px;
    font-size: 20px;
    text-align: right;
    background-color: rgb(255, 255, 255);
    font-family: "Segoe UI";
}

/* Next button */
.next {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    font-weight: bold;
}

/* Generic class for center elements */
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

/*  */
.centerButton {
    margin: auto;
    width: 75%;
    padding: 10px;
}

/* Icon Bar Styling */
.icon-bar {
    width: 100%;
    background-color: #ffffff;
    overflow: auto;
    border-style: solid;
    border-width: 1px;
}

.icon-bar a {
float: left;
text-align: center;
width: 14.25%;
padding: 5px 0px;
}

.icon-location {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

/* Create Question and Filter button location */
.postButtonLoc {
    position: fixed;
    top: 20px;
    right: 10px;
}

.postButton {
    width: 25%;
}

/* Facebook and Google signin buttons */
.fb {
    background-color: #3B5998;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.google {
    background-color: #dd4b39;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

input,
 .btn {
    width: 285px;
    padding: 12px;
    border: none;
    opacity: 0.85;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    display: block;
    margin: 0 auto;
}






