#advices {
    display: grid;
    /* grid-gap: 10px; */
}

.post {
    display: grid;
    grid-template-columns: 40px auto;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.11),-1px 1px 1px 1px rgba(0,0,0,.11);
    border-radius: 3px;
    padding: 10px;
    grid-gap: 10px;
    background: white;
    margin-bottom: 25px;
}

.post > img {
    width: 40px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.11),-1px 1px 1px 1px rgba(0,0,0,.11);
}
.post.Question{
    margin-bottom: 10px;
}
.post.advice{
    margin-bottom: 10px;
}
hr{
    margin-bottom: 10px;
}
.main-body {
    display: grid;
    grid-template-rows: 40px auto;
    grid-gap: 10px;
}
.post-header {
    font-size: 14px;
    color: #707070;
    display: grid;
    align-items: center;
}

.post-body {
    display: grid;
    grid-gap: 10px;
}
.post-body > img {
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.11),-1px 1px 1px 1px rgba(0,0,0,.11);
    border-radius: 5px;
    margin-left: 50px;
}

.post-footer {
    display: flex;
    justify-content: flex-end;

}
.post-footer > *{
    margin-right:26px;
}

.DescriptionAdvice {
    width: 272px;
    height: 84px;
    border: 2px solid #707070;
    font-size: 16px;
    font-family: "Segoe UI";
    resize: none;
    display: block;
    margin: 0 auto;
}

.sumbit-button-center {
    display: flex;
    justify-content: center;
    
}
button.btn.submit {
    width: 200px;
    height: 40px;
    background: #4caf50;
    font-size: 18px;
    color:white;
}
