.makeCircle{
	border-radius: 50%;
}

.makeCircleButton{
	outline:none;
	background: none;
	border-radius: 50%;
	border: 2px solid rgb(246, 246, 246);
}

.makeCircleButton:focus{
	border: 4px solid #C2E3F9;
}

#topicsButtons li{
	display: inline-block;
	text-align: center;
	margin-right: 10px;
}

#topicsButtons{
	overflow: auto;
	white-space: nowrap;
	margin-bottom: 15px;
	margin-top: 15px;
}

#groupButtons li{
	display: inline-block;
	text-align: center;
	margin-right: 10px;
}

#groupButtons{
	overflow: auto;
	white-space: nowrap;
	margin-bottom: 15px;
	margin-top: 15px;
}

.textsize{
	font-size: 12px;
	text-align: center;
}
