ul#nav{
    list-style: none;
    padding: 0;
    background-color: #f3f3f3;
    color: gray;
    width: 90%;
    display: inline-flex;
}

body {
    background-color: rgb(246, 246, 246);
}

ul#nav li{
    display: inline-block;
    width: 33%;
    text-align: center;
    border: 1px solid black;
}

a:link{
    color: #6E6D80;
}


ul#nav li:active{
    border: 2px solid black;
}

input{
    align-content: center;
}



.onebox input[type="text"]{
    width: 306px;
}

button.active {
    background-color: #ccc;
}

.bio input[type="text"], textarea{
    background-color: rgb(246, 246, 246);
    text-align: center;
    /*display: grid;*/
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.11), -1px 1px 1px 1px rgba(0,0,0,.11);
    border-radius: 3px;
    padding: 4px;
    grid-gap: 10px;
    width: 306px;
    height: 100px;
}

.bio{
    align-content: center;
}

#content{
    background-color: white;
}

table{
    width: 100%;
    text-align: center;
}

#nav{
    margin-left: 4.6%;
}


#nav li {
    background-color: inherit;
    float: left;
    border: 8px;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 33%;
    font-weight: bold; 
}

#nav li:active {
    background-color: #ccc;
}

#profile_picture img{
    border-radius: 50%;
    position: relative;
    /*top: -50px;*/
    left: 37%;
}

#profile_picture{
    position: relative;
    top:-50px;
}

#getpublicinfo td{
    position: relative;
    /*top: -110px;*/
    background-color: rgb(246, 246, 246);
    display: grid;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.11), -1px 1px 1px 1px rgba(0,0,0,.11);
    border-radius: 3px;
    width: 70px;
    padding-left: 10px;
}

#getpublicinfo #level{
    position: relative;
    /*top: -100px;*/
}

#getpublicinfo{
    max-width: 140px;
}

.userdata input[type="text"]{
    font-size: 17px;
    background-color: rgb(246, 246, 246);
    text-align: center;
}

.userdata .userconnections{
    font-size: 14px;
    text-align: center;
    display: grid;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.11), -1px 1px 1px 1px rgba(0,0,0,.11);
    border-radius: 3px;
    padding: 4px;
    grid-gap: 10px;
}

.userdata{
    padding: 38px;
    position: relative;
    /*top: -120px;*/
}

#wallpaper img{
    height: 170px; 
	width: 100%; 
    overflow: hidden;
    border: 0;
}

#wallpaper{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    border: 0;
}

.userdata{
    text-align: center;
}

div #content{
    position: relative;
    /* top: -50px; */
}

.fa, .fab, .fal, .far, .fas{
    float: right;
    font-size: 35px;
    position: relative;
    /*top: -60px;*/
    display: grid;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.11),-1px 1px 1px 1px rgba(0,0,0,.11);
    border-radius: 3px;
    padding: 10px;
    grid-gap: 10px;
}

/* Link buttons */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 33%;
    font-weight: bold; 
    color: rgb(121, 121, 121);
}
/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* question content */
.content {
    display: inline-block;
}

/* Icon Bar Styling */
.icon-bar {
    width: 100%;
    background-color: #ffffff;
    overflow: auto;
    border-style: solid;
    border-width: 1px;
}

.icon-bar a {
float: left;
text-align: center;
width: 14.25%;
padding: 5px 0px;
}

.icon-location {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

#getinfo{
    height: auto;
}

#onebox{
    display: grid;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.11), -1px 1px 1px 1px rgba(0,0,0,.11);
    border-radius: 3px;
    padding: 4px;
    grid-gap: 10px;
    width: 270px;
    background-color: rgb(246, 246, 246);
}

#points{
    position: relative;
    top: -50px;
}

p#age{
    text-align: center;
}

a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}