/* Right side menu  */
.appInfoMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(246, 246, 246);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

/* Right side menu links */
.appInfoMenu a {
    padding: 8px 8px 8px 32px;
    font-family: "Segoe UI";
    text-decoration: none;
    font-size: 25px;
    color: #111;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
}

/* Position and style the close button */
.appInfoMenu .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
}

/* menu button location */
.appInfoMenuButtonLocation {
    position: fixed;
    top: 20px;
    left: 10px;
}